* {
    box-sizing: border-box;

}

.mainBody {
    padding-left: 10px;
}



.left-side {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    -moz-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    min-height: 100vh;
    height: 100%;
    padding: 0;
    /* margin-left: 10px; */
    /* display: inline-block; */
}


textarea.questionarea {
    width: 100%;
    /* margin: 2%; */
    /* height: auto; */
    /* height: 10rem; */
    outline-style: none;
    padding-left: 20px;
    padding-top: 20px;
    /* display: block; */
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
    /* -webkit-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170); */
    /* -moz-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170); */
    /* box-shadow: 0px 0px 5px 0px rgb(170, 170, 170); */
    border-style: none;
    box-sizing: border-box;
    overflow: show;
}

textarea.questionarea:hover {
    background-color: rgb(228, 228, 228);
}

textarea.answerarea {
    background-color: rgb(238, 220, 208);
}

textarea.answerarea:hover {
    background-color: rgb(236, 187, 150);
}

.textarea-btn {
    margin: auto;
    /* margin-left: 2%; */

    font-size: larger;
    /* padding: 1rem; */
    border-radius: 50%;
    background-color: rgb(59, 59, 59);
}


div.optionsareaclass {
    display: none;
    /* position: absolute; */
    /* top: 100px; */
    /* right: 130px; */

    /* padding: 10px; */
    border: rgb(180, 180, 180) solid 1px;
    height: auto;
    width: 40%;
}

button.optionbtn-toggle {
    margin-right: 30px;
}

/* ####################### My custom code for creating buttons ########################## */
/* ################### Currently not using ###################### */
button.optionbtns, button.options {
    padding: 10px;
    /* background-color: aqua; */
    width: 100%;
    /* display: none; */
    position: block;
    list-style: none;
    text-align: center;
    align-self: center;
    text-decoration: none;
    border: none;
    color: rgb(56, 56, 56);
}

button.optionbtns:hover,
button.options:hover {
    background-color: rgb(199, 199, 199);
    color: black;
}

button.optionbtns:active,
button.options:active {
    background-color: rgb(199, 199, 199);
    box-shadow: 0 5px rgb(190, 190, 190);
    transform: translateY(4px);
}


/* ################### Bootstrap dropdown feature ################### */
li.myCustomization-li {
    /* background-color: aqua; */
    /* height: 40px; */
}

a.myCustomization-a {
    color: black;
    font-size: larger;
    /* background-color: rgb(255, 255, 255); */
    width: 80px;
}

a.myCustomization-a:hover {
    background-color: rgb(228, 228, 228);
}

/* ###### Inputs ####### */
input.inputs {
    height: 300px;
}




.right-side {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    -moz-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    height: 100vh;
    padding: 0;
    /* display: inline-block; */
}


.question_display {
    margin: 2rem 0 0 10px;
}

div.pop {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 85vh;
    width: 80%;
    background-color: rgb(230, 228, 219);
    display: none;
}

button.pop-btn {
    margin-top: 7px;
    margin-left: 10px;
}