textarea.questionarea {
    width: 100%;
    /* margin: 2%; */
    /* height: auto; */
    height: 10rem;
    outline-style: none;
    padding-left: 50px;
    padding-top: 20px;
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
    /* -webkit-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170); */
    /* -moz-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170); */
    /* box-shadow: 0px 0px 5px 0px rgb(170, 170, 170); */
    border-style: none;
    box-sizing: border-box;
    overflow: show;
} 

textarea.questionarea:hover {
    background-color: rgb(228, 228, 228);
}

.textarea-btn {
    margin:auto;
    margin-left: 2%;

    font-size: larger;
    /* padding: 1rem; */
    border-radius: 50%;
    background-color: rgb(59, 59, 59);
}

.left-side {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    -moz-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    height: 100vh;
    padding: 0;
}

.right-side {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    -moz-box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    box-shadow: 0px 0px 5px 0px rgb(170, 170, 170);
    height: 100vh;
    padding: 0;
}

div.pop {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 85vh;
    width: 80%;
    background-color: rgb(230, 228, 219);
    display: none;
}

button.pop-btn {
    margin-top: 7px;
    margin-left: 10px;
}