.col-filler {
    height: 25vh;
    /* background-color: aqua; */
}

.centerStuff {
    text-align: center;
} 
 
#hiddenDisplay {
    /* display:none; */
    background-color: aqua;
}
 
.invisible1 {
    display: none;
}

.align-left {
    /* display: flex;
    width: 100%; */
    align-items: left!important;
    justify-content: left;
}

/* h2.questionArea {
    animation: Slide_Up 3.2s ease;
    display: none;
} 

@keyframes Slide_Up {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}  */